.container {
  display: block;
  margin: 0 auto;
  width: 75%;
  padding: 20px;
  border: 1px solid white;
  border-radius: 4px;
}

.name {
  width: 230px;
  padding-bottom: 5px;
  font-size: 30px;
}
 .address {
  padding-bottom: 5px;
  font-size: 24px;
 }

 .reviews {
  padding-bottom: 5px;
  font-size: 20px;
 }

 .reviews-box {
  padding: 20px;
  width: 200px;
  height: 400px;
  border: 1px solid rgba(255,255,255, 0.5);
  border-radius: 4px;
  margin-bottom: 20px;
 }

.favourite_beer {
  padding-bottom: 5px;
  font-size: 16px;
}

.profile-image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

.info-and-image {
  display: flex;
}


.grey-color {
  color: $grey;
}

.line {
  border-bottom: 1px solid white;
  margin: 25px 0;
}
