.container {
  margin: 0 auto;
  width: 300px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h5 {
  font-size: 18px;
}

.carousel-picture-show {
  margin: auto;
  width: 245px;
  height: 172px;
  border-radius: 2px;
  box-shadow: 1px 1px 3px lightgrey;
}
