<div class="shortlist-card">  
  <%#= cl_image_tag booking.venue.photo.key, height: 300, width: 400, crop: :fill %>
  <img class="shortlist-card-img" src="https://picsum.photos/200/300" alt="">
  <div class="shortlist-card-text-container">
    <p><%= booking.venue.name %></p>
    <p><%= booking.start.strftime("%H:%M %d/%m/%y") %>
    <%= booking.length %> hour(s)</p>
    <%#= icon("fas", "fa-comments") %>
    <%#= icon("fas", "fa-window-close") %>
    <%= link_to "View", venue_booking_path(booking.venue, booking), class: "btn" %>
    <%#= link_to "Cancel", venue_booking_path(booking.venue, booking), method: :delete, data: { confirm: "Are you sure?" } %>
    <%# <div>= link_to "Open chat", venue_booking_chatroom_path(booking.venue, booking, booking.chatroom)</div>     %>
  </div>   
</div>

