.chatroom {
  // background: white;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-top: 1px solid $gray-200;

  h1 {
    padding: 0.75rem 1rem;
    border-bottom: 1px solid $gray-200;
    margin-bottom: 0;
    font-size: 25px;
    width: 100%;
    color: white;
  }
}

.header-title {
  width: 100%;
}

#messages {
  padding: 0 1rem;
  padding-top: 1rem;
  overflow: scroll;
  height: 74vh;
  // max-height: calc(100vh - 70px - 65px - 71px);
}

#new_message {
  padding: 1rem;
  border-top: 1px solid $gray-200;

  .form-group {
    margin-bottom: 0;
  }
}

.my-button {
  position: fixed;
  bottom: 17px;
  right: 20px;
  width: 40px;
  border: none;
  background: white;
  font-size: 20px;
  color: $navy;
}

.author {
  color: $grey;
}
