.category-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.category-selector {
  position: absolute;
  transform: scale(0);
}

.category-selector + label {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: flex-end;
  background-image: asset_url('fire.png');
  background-size: 45px;
  background-repeat: no-repeat;
  width: 45px;
  height: 84px;
  opacity: 0.2;
  color: white !important;
}

.category-selector:checked + label {
  color: white !important;
  opacity: 1;
}


.category-selector-pound {
  position: absolute;
  transform: scale(0);
}

.category-selector-pound + label {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: flex-end;
  background-image: asset_url('pound.png');
  background-size: 45px;
  background-repeat: no-repeat;
  width: 45px;
  height: 75px;
  opacity: 0.2;
  color: white !important;
}

.category-selector-pound:checked + label {
  color: white !important;
  opacity: 1;
}

.category-selector-star {
  position: absolute;
  transform: scale(0);
}

.category-selector-star + label {
  display: flex;
  cursor: pointer;
  justify-content: center;
  align-items: flex-end;
  background-image: asset_url('star.png');
  background-size: 45px;
  background-repeat: no-repeat;
  width: 45px;
  height: 72px;
  opacity: 0.2;
  color: white !important;
}

.category-selector-star:checked + label {
  color: white !important;
  opacity: 1;
}

