.review-card {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px;
  padding: 5px;
  box-shadow: 1px 1px 3px lightgrey;
  background-color:#ffffff;
  color: black;
  border-radius: 3px;
}

.review-card p {
  margin: 0;
  padding: 0;
}