.shortlist-card {
  display: flex;
  width: 300px;
  height: 100px;
  margin: 10px;
  padding: 5px;
  box-shadow: 1px 1px 3px lightgrey;
  background-color:#ffffff;
  color: black;
  border-radius: 3px;
}

.shortlist-card-img {
  height: 100%;
  width: 80px;
  margin-right: 10px;
}

.shortlist-card-text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}

.shortlist-card-text-container p {
  margin: 0;
  padding: 0;
}

.shortlist-card-button-container {
  display: flex;
  width: 100%;
}

.shortlist-card-status {
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-left: 25px;
}

.shortlist-card-pending {
  background-color: orange;
}

.shortlist-card-accepted {
  background-color: lightgreen;
}

.shortlist-card-image-box {
  margin-right: 10px;
}