.shortlist-card {
  display: flex;
  width: 300px;
  height: 120px;
  margin: 10px;
  padding: 5px;
  box-shadow: 1px 1px 3px lightgrey;
  background-color: black;
  color: white;
  border-radius: 3px;
  border: 1px solid white;
}

.shortlist-card-img {
  height: 100%;
  width: 80px;
  margin-right: 10px;
}

.shortlist-card-text-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: left;
  justify-content: center;
}

.shortlist-card-text-container p {
  margin: 0;
  padding: 0;
}

.shortlist-card-button-container {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.shortlist-card-status {
  width: 35px;
  height: 35px;
  margin-left: 25px;
}

.shortlist-card-status.accepted-i {
  font-size: 35px;
  color: green;
}

.shortlist-card-status.pending-i {
  font-size: 35px;
  color: orange;
}

.shortlist-card-status.rejected-i {
  font-size: 35px;
  color: red;
}

.shortlist-card-image-box {
  margin-right: 10px;
  margin-top: 10px;
}

.chat-button {

  padding: 0 10px 0 20px;
  font-size: 35px;
}

.shortlist-card-text-container a {
  color: white;
  text-decoration: none;
}

.chat-button a {
  color: $grey;
}

.chat-button a:hover {
  color: $grey;
}

.btn-booking-card {
  height: 40px;
}