<% review = Review.new %>
<% venue = @venue %>
<p class="grey-color"><%= venue.name %><br></p>
<button class="show-review btn-reviews text-center"" data-booking_id='<%= booking.id %>'>Leave a review</button>
